   #chatContainer{
   		margin:0px;
   		padding:0px;
   		width: 610px;
   		height: 300px;
   }
    #chatHeader{
   		margin-top:0px;
   		padding:0px;
   		width: 250px;
   		height: 30px;
   		font-weight: bold;
   		font-size: 20px;
   }
   
  #chatHeader .chat_ball{
  		width: 30px;
  }

    #chatContent{
   		margin:0px;
   		padding:0px;
   		width: 570px;
   		height: 250px;
   		border: 1px solid #BDBDBD;
   		border-radius: 10px;
   }
    #chatTable th{
    	font-size: 17px;
    	text-align: center;
    }
    #chatTable{
    	border:0;
    	cellspacing:1px;
    	cellpadding:0;
    	width:100%; 
    }
    
    #chatTable th{
    	border-bottom: 1px solid #BDBDBD;
    }
    
    #chatTable tr{
    	height: 34px;
    }
    #chatContent td{
    	border-bottom: 1px dotted #BDBDBD;
    }
    
    #chatContent tr{
    	height: 34px;
    }
    
    #scrollList{
    	overflow:auto;
    	overflow-x:hidden;
    	background-color: #F6F6F6;
    }
    
    #chatContent_board_mini{
   		margin:0px;
   		padding:0px;
   		width: 570px;
   		height: 343px;
   		border: 1px solid #BDBDBD;
   		border-radius: 10px;
   }
   
   #chatContent_board_mini td{
    	border-bottom: 1px dotted #BDBDBD;
    }
    
    #chatContent_board_mini tr:NTH-CHILD(odd){
       background-color: #F6F6F6;
   }
   
   #chatContent_board_mini a{
   		text-decoration: none;
   		color: black;
   }
   
   
   #chatContent_board_mini tr:HOVER{
       background-color: ivory;
       text-decoration: underline;
   		font-weight: bold;
   }