	#rootDiv{
		width: 950px;
		height: 600px;
	}
	#div0_0{
		width: 950px;
		height: 390px;
		display: block;
	}
	#div0_1{
		width: 950px;
		height: 210px;
	}
	#div1{
		width: 465px;
		height: 375px;
		float: left;
		margin: 10px 5px 5px 5px;
	}
	#div1_1{
		width: 345px;
		height: 305px;
		margin: 5px 5px 5px 5px;
		background-image: url("image/back.jpg");
	}
	#div1_2{
		width: 345px;
		height: 55px;
		margin: 5px 5px 5px 5px;
		vertical-align: middle;
	}
	#div2{
		width: 465px;
		height: 375px;
		float: left;
		margin: 10px 5px 5px 5px;
	}

	#typediv{
		width: 465px;
		height: 140px;
		margin: 0px 0px 0px 20px;
		text-align: left;
	}
	#div2_1a{
		width: 445px;
		height: 40px;
		margin: 10px 5px 0px 5px;
		float: left;
	}
	#div2_1{
		width: 445px;
		height: 40px;
		margin: 0px 5px 0px 5px;
		float: left;
	}
	#div2_1b{
		width: 445px;
		height: 40px;
		margin: 0px 5px 5px 5px;
		float: left;
	}
 	#div2_2a{
		width: 445px;
		height: 55px;
		margin: 10px 5px 0px 5px;
	}
	#div2_2b{
		width: 445px;
		height: 55px;
		margin: 0px 5px 0px 5px;
	}
	.div2_2_2 {
	 	width: 215px;
	 	height: 55px;
	 	margin: 0px 0px 0px 5px;
	 	float: left;
	 }
	#div2_3{
		width: 445px;
		height: 90px;
		margin: 10px 5px 10px 5px;
		text-align: left;
		vertical-align: middle;
	}

	#div3{
		width: 930px;
		height: 200px;
		margin: 10px 5px 5px 5px;
	}
	.div3_1 {
		width: 150px;
		height: 150px;
		margin: 20px 0px 20px 5px;
		float: left;
	}
	#p_img {
		width: 90%;
		height: 90%;
		vertical-align: middle;
		
	
	}
	#title {
		font-size: 30px;
		height: 50px;
		padding: 0px 0px 0px 0px;
		margin:  0px 0px 0px 0px;
	}
	.rev_img {
		width: 150px;
		height: 150px;
	}
	#div2_ {
		width: 445px;
		height: 130px;
	}
	.test {
		  height: 15px;
		  padding: 3px;
		  margin-top:10px;
		  margin-bottom: 5px;
		  margin-left: 0;
	}
	.t_img{
		width: 70px;
		height: 30px;
		margin: 5px 0px 0px 0px;
		vertical-align: middle; 
	}
	
	@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
body {
	/* // #dbf2f2; */
  background: #bee6e6;
  font-family: arial, sans-serif;
}

.stat-levels {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  width: 370px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* max-width: 45%;
  margin: 50px auto 0 auto;
  padding: 25px; */
  
  border: 1px solid #494a4e;
  border-radius: 10px;
  background: -webkit-linear-gradient(bottom, #444549 0%, #343539 100%);
  background: linear-gradient(#444549 0%, #343539 100%);
  float: right;
}

.stat-bar {
  background-color: #2a2b2f;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.6);
  height: 15px;
  overflow: hidden;
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0;
}
.stat-bar:last-child {
  margin-bottom: 0;
}

.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 8px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.stat-1 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(bottom, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
  background-image: linear-gradient(to bottom, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
}

.stat-2 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(bottom, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
  background-image: linear-gradient(to bottom, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
}

.stat-3 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(bottom, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
  background-image: linear-gradient(to bottom, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
}

.stat-4 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFFFFF 47%, #8C8C8C 50%, #8C8C8C 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 47%, #8C8C8C 50%, #8C8C8C 100%);
}

.stat-bar-rating {
  visibility: hidden;
  width: 0;
  -webkit-animation: animate-width;
  -moz-animation: animate-width;
  animation: animate-width;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.stat-bar:nth-of-type(1) .stat-bar-rating {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.stat-bar:nth-of-type(2) .stat-bar-rating {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.stat-bar:nth-of-type(3) .stat-bar-rating {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.stat-bar:nth-of-type(4) .stat-bar-rating {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
	