.owl-carousel .owl-item img {
    display: inline-block;
    width: 100%;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.popular{
	background-color: ivory;
}