		body, html { 
	    width: 100%!important;
	    height: 100%!important;
	    padding: 0!important;
	    margin: 0!important;
	}
	
	#nav{
		position: fixed!important;
		display: block	!important;
		width: 1920px	!important;
		height: 150px	!important;
		background-color: #FF1212	!important;
		border-bottom: 15px solid black	!important;
		z-index: 5	!important;
		color: white	!important;
		font-size: 15px	!important;
		font-weight: bold	!important;
		display: table-cell !important;
	}
	
/* 	.menu{
		display: inline!important;
		margin-left:20px!important;
		position: relative!important;
		top: 70%!important;
	} */
	
	#nav img{	
		margin: 15px 10px 10px 330px!important;
		float: left!important;
		width: 250px!important;
	}

	#footer{
		width:1920px	!important;
		height:150px	!important;
		background-color: white	!important;
		border-top: 15px solid black	!important;
		font-size: 20px !important;
	}
	
	#addr{
		position: relative	!important;
		top: 25% !important;
	}
	
	#footer img{
		margin-right: 10px !important;
		position: relative	!important;
		top: 23% !important;
	}
	
	.headerMenu {
		list-style: none	!important;
		margin: 95px 340px !important;
		padding: 0	!important;
		overflow: hidden	!important;
		float: right !important;
	}
	
	.menu{
		float: left	!important;
		list-style: none !important;
	}
	
	.menu a{
		padding:14px 16px	!important;
		display: inline-block	!important;
		text-decoration: none	!important;
		color: #FFF !important;
	}
	
	.menu a:HOVER {
	color: black !important;
	}
	
	.dropdown{
		background: #f9f9f9	!important;
		position: absolute	!important;
		min-width: 160px	!important;
		box-shadow: 0 8px 15px #CCC	!important;
		display: none !important;
	}
	
	.dropdown a{
		display: block	!important;
		color: black !important;
	}
	
	.dropdown a:HOVER {
	background: black	!important;
	color: white !important;
	}
	
	#board:HOVER .dropdown {
		display: block !important;
	}
	
	
	<!-- 메인화면 게시판 -->
	/*     #chatContent_board_mini{
   		margin:0px;
   		padding:0px;
   		width: 570px;
   		height: 343px;
   		border: 1px solid #BDBDBD;
   		border-radius: 10px;
   } */
   
   #boardTable_mini td{
    	border-bottom: 1px dotted #BDBDBD !important;
    }
    
    #boardTable_mini tr:NTH-CHILD(odd){
       background-color: #F6F6F6;
   }
   
   #boardTable_mini a{
   		text-decoration: none;
   		color: black;
   }
   
   
   #boardTable_mini tr:HOVER{
       background-color: ivory;
       text-decoration: underline;
   		font-weight: bold;
   }
   
   #boardTable_mini{
   		
   		margin:0px;
   		padding:0px;
   		width: 570px;
   		height: 343px;
   		border: 1px solid #BDBDBD;
   }