	.icon {
	display: inline-block;
	width: 250px;
	height:150px;
	margin: 10px 0px 0px 50px;
	text-align: center;
	}
	
	.icon a{
		text-decoration: none;
		font-family: ¸¼Àº °íµñ;
		font-size: 12px;
		color: gray;
	}
	
	.icon a:HOVER {
		color: black;
	}
	.aliSection a{
		text-decoration: none;
		color: black;
	}
	
	.aliSection a:HOVER{
		color: gray;
	}
	
	.aliSection:HOVER{
		background-color: #EAEAEA;
	}
	
	#aliHeader {
	font-family: ¸¼Àº °íµñ;
	font-size: 20px;
	display:table-cell;
	vertical-align:middle;
	width:2000px;
	height:200px;
	margin:5px;
	background-color: #EAEAEA;
	}
	.text {
	font-size: 20px;
}
	.introduction{
	margin-left:25px;
	font-size: 15px;
	}
	.aliSection{
		width:1000px;
		height:300px;
		margin:0px;
	}
	.aliImg{
		width:270px;
		height:270px;
		float:left;
		margin:15px;"
	}
	.aliText{
		 Text-align: left;
		 width:670px;
		 height:270px;
		 float:left;
		 margin:15px;
	}